@font-face {
	font-family: "Main Font";
	src: url("LibreBaskerville-Regular.ttf");
}

:root {
	font-size: 1.25rem;
}

body {
	margin: 0 auto;
	max-width: 40em;
	font-family: "Main Font", serif;
	background: #333f3f;
	color: #cccccc;
}

* {
	box-sizing: content-box;
}

body>h1:first-child {
	margin-top: 1em;
}

body>*:last-child {
	margin-bottom: 1em;
}

h1, h2, h3, p, ul, pre {
	margin: 1em 0 0 0;
	line-height: 1.5em;
}

body *:first-child {
	margin-top: 0;
}

h1 {
	text-align: center;
}

h2 {
	border-bottom: 1px solid;
}

h3 {
	display: inline-block;
	border-bottom: 1px solid #aaaaff;
}

pre, .code {
	margin-left: 1em;
	tab-size: 2;
	-moz-tab-size: 2;
}

pre, code, .code {
	color: #ccccff;
	white-space: pre;
	font-family: monospace;
}

a {
	color: inherit;
	text-decoration: underline;
}